<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="/user/login" method="post">

            <label for="email"></label>
            <input type="text" name="email" placeholder="example@gmail.com">

            <label for="password"></label>
            <input type="text" name="password" placeholder="123456">
        
            <% if (msg) { %>
                <p style="color: red;"><%= msg %></p>
            <% } %>

            <button>Login</button>
        </form>
    </div>
</body>
</html>